*{
    box-sizing: border-box;
}
.container {
    width: 960px;
    flex: 1 0 auto;
}

body {
    background-image: url(./images/dynamic-style.png);
}

.aman {
    background-color: white;
}

.fixedFooter {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding:10px;                        
    color:#ffffff;
    background-color:#666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
}
#about {
    margin-left: 563px;
}
#contact {
    padding-right: 0px;
}
#navbar-header {
    margin-left: 192px;
}
.navbar{
    
    background-color:#ffffff;

    color:#4aaaa5;

    padding-top:30px;

    min-height:70px;

    border-bottom:#cccccc 3px solid;
}
.navbar-header{
    float:left;
    min-height:55px;
    padding:0 15px 5px;
    margin:0;
    background-color:#4aaaa5;
    color:white;
}
body{

    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;

    font-size: 15px;

    line-height: 1.5;

    margin:0;

    padding:0;

    background-color:#efeee7;

}
.container{

    width:960px;

    margin:auto;

    overflow:hidden;  

}
img{

    width: 200px;

  height: 200px;

  margin-right: 20px;

  float: left;

}
footer{
    padding:10px;
    margin-bottom: 155px;
    width:100%;   
    /* position: fixed;                         */
    color:#ffffff;
    background-color:#666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;

}
header #branding h1{
    width:150;
    height:70px;
    margin:0;
    color:white;
    background-color:#4aaaa5;
}

     @media screen and (max-width:768px){
        .container{
            width:100%;
            
        }
        .footer{
            width:100%;
        }
        .header{
            width:100%;
        }
        footer {
            margin-top: 363px;
        }
        .navbar{
            width:100%;
        }#navbar-header{
            width:100%;
        }
        body{
            width:100%;
        }
        .nav-item{
            width:100%;
        }
    }

    @media screen and (max-width:640px){
        .container{
            width:100%;
        
        }

        .header{
        width:100%;
        }
        #branding{
            width:100%;
        }
        .navbar{
            width:100%;
        }
        #navbar-header{
            width:100%;
        }
        body{
            width:100%;
        }
        .nav-item{
            width:100%;
        }
    } 

    @media screen and (max-width:960px){
        .container{
            width:100%;
        
        }

        .header{
        width:100%;
        }
        #branding{
            width:100%;
        }
        nav{
            width:100%;
        }
        #navbar-header{
            width:100%;
        }
        body{
            width:100%;
        }
        .nav-item{
            width:100%;
        }
    } 